@charset "utf-8";
/* CSS Document */
body{padding:0;margin:0;background:rgba(220,220,220,0.6);}

#main{
	display:block;
	width:550px;
	height:auto;
	margin:auto;
	margin-top:80px;
	color:#000;
	font-family:'Microsoft Yahei';
	font-size:19px;
	line-height:36px;
	box-shadow:1.5px 1.5px 4px #666;}
#main_title{
	display:block;
	width:550px;
	height:80px;
	background:rgba(0,175,66,1);
	color:#FFF;
	font-family:'Microsoft Yahei';
	font-size:36px;
	line-height:80px;
	text-align:center;}
form{
	display:block;
	width:465px;
	height:auto;
	margin:auto;
	position:relative;
	padding-top:25px;
	padding-bottom:45px;
	padding-left:85px;
	background-color:#FFF;
	}
#password{
	color:#000;
	font-family:'Microsoft Yahei';
	font-size:17px;}
#password_again{
	color:#000;
	font-family:'Microsoft Yahei';
	font-size:17px;}
.ierror{
	position:relative;
	left:75px;
	color:#F00;
	font-family:'Microsoft Yahei';
	font-size:12px;
	line-height:14px;}
#username{
	color:#3C9;}
#button{
	display:block;
	width:120px;
	height:40px;
	margin:auto;
	margin-top:15px;
	position:relative;
	left:-43px;
	color:#FFF;
	font-family:'Microsoft Yahei';
	font-size:18px;
	line-height:40px;
	text-align:center;
	background:rgba(0,175,66,0.8);
	border-radius:12px;
	cursor:pointer;}
#foot_mod{
	width:auto;
	height:auto;
	margin:65px auto 20px auto;
	text-align:center;}
#copyright_information{
	color:#FFF;
	font-family:"Microsoft Yahei";
	font-size:12px;
	line-height:14px;
	text-align:center;}